*
{
  font-family: verdana;
}

body
{
  background-color: #fff;
}

label
{
  cursor: pointer;
}

table
{
  border-collapse: collapse;
}

th
{
  text-align: left;
  background-color: #ddd;
}

input[type=text]
{
  border: 1px solid #888;
}

input[type=image]
{
  padding: 5px;
  border: 5px solid transparent;
  vertical-align: middle;
}

input[type=image]:hover
{
  border-color: #80bfff;
}

body, html
{
  height: 100%;
  padding: 0;
  margin: 0;
}

form
{
  height: 100%;
}

table.layout
{
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

table.layout tr.min
{
  vertical-align: top;
  height: 1px;
}

table.layout tr.max
{
  vertical-align: top;
}

table.layout td.min
{
  width: 1px;
}

.hidden
{
  display: none;
}

#app .menu,
#app .species_menu,
#app .species .list,
#app .species .details
{
  width: 100%;
}

#app .menu .settings
{
  float: right;
}

#app .species_menu .manage
{
  float: right;
}

#app .species .details .key
{
  white-space: nowrap;
  font-weight: bold;
  vertical-align: top;
  padding-right: 5px;
}


#reel
{
  overflow: auto;
  white-space: nowrap;
  padding: 5px;
  border: 1px solid #ccc;
}


#reel .entry
{
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
}

#reel .entry.selected
{
  background-color: #80bfff;
}

#reel .entry .imgh
{
  height: 150px;
}

#reel .entry .img
{
  max-height: 150px;
}

#reel .entry .check
{
  text-align: center;
}

#reel .entry .filename
{
  font-size: smaller;
}


#drive_list
{
  text-align: center;
}

#drive_list .entry
{
  display: inline-block;
  padding: 5px;
  margin: 10px 0;
}

#drive_list .entry .imgh
{
  background-color: #fff;
  padding: 5px;
}

#drive_list .entry:hover
{
  background-color: #80bfff;
}


#species .list,
#species .details
{
  width: 100%;
}

#species .details .key
{
  white-space: nowrap;
  font-weight: bold;
  vertical-align: top;
  padding-right: 5px;
}

#species .help td
{
  line-height: 200%;
  text-align: center;
  vertical-align: middle;
}

#species .help td div
{
  display: inline-block;
  text-align: left;
}
